.jumbotron {
  margin-top: 25px;
  text-align: center;
  background-color: rgb(15, 172, 230);
}

.container {
  position: relative;
}

#delivery-place {
  margin-top: 25px;
  display: none;
}

#pizza-picker {
  margin-top: 25px;
  display: none;
}

#price {
  display: none;
}